@media screen and (max-width: 1130px) {
  * {
    padding: 0;
    margin: 0; }
  html {
    height: 100%; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 24px; }
  #principal-carousel-logo {
    display: none; }
  #body-header {
    display: none; }
  .navbar-responsive {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: contents; }
    .navbar-responsive a {
      margin-left: 10px;
      font-style: normal;
      text-decoration: none;
      padding: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: cornsilk; }
    .navbar-responsive #navbar-responsive-color {
      background-color: black !important; }
    .navbar-responsive #navbar-responsive-collapse {
      background-color: black !important; }
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 300px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 30px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; }
  #carta {
    margin-bottom: 0px; }
  #footer-responsive {
    display: inline-grid; }
    #footer-responsive #footer-responsive-none {
      display: none; } }

@media screen and (max-width: 895px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 250px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 24px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 650px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 150px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 24px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 18px; }
  p a {
    font-size: 10px; }
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 50px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 375px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 0px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 18px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; }
  #titulo-responsive {
    font-size: 18px; }
  #titulo-responsive-secundario {
    font-size: 14px; }
  #articulo-responsive {
    padding: 50px; } }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  z-index: 10;
  width: 100%; }
  .header h1 {
    display: flex;
    list-style: none;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: cornsilk; }
  .header nav {
    display: flex;
    list-style: none; }
  .header a {
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: cornsilk; }
  .header .navbar-responsive {
    display: none; }

main {
  position: relative; }
  main .imagenes {
    width: 100%;
    height: 100%;
    filter: brightness(50%); }
  main #titulos {
    color: cornsilk;
    font-size: 38px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  main #titulo-navbar {
    display: none; }
  main #principal-carousel {
    bottom: 350px; }

.sidebar {
  background-color: #171313;
  position: relative; }
  .sidebar #carouselExampleDark {
    position: relative;
    display: table; }
  .sidebar .articuloTitulos {
    position: relative;
    display: block;
    text-align: center;
    padding: 100px;
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .sidebar h2 {
    font-size: 38px; }
  .sidebar h3 {
    font-size: 30px; }

.miniPortfolio {
  position: relative; }
  .miniPortfolio .card-group {
    position: relative; }
  .miniPortfolio .misTrabajos {
    position: relative;
    display: block;
    text-align: center;
    padding: 100px;
    color: cornsilk;
    background-color: #171313;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 38px; }
  .miniPortfolio .card {
    padding: 30px;
    text-align: center; }
  .miniPortfolio #carta {
    background-color: #171313;
    border: none;
    border-radius: 0px; }
  .miniPortfolio .card-title {
    color: cornsilk;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .miniPortfolio .boton {
    position: relative;
    background-color: #171313;
    justify-content: center;
    display: flex;
    padding-bottom: 40px; }
    .miniPortfolio .boton #botonid {
      padding: 15px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: none;
      border-color: cornsilk; }
      .miniPortfolio .boton #botonid a {
        text-decoration: none;
        color: cornsilk; }

.footer {
  background-color: black; }
  .footer .container {
    background-color: black;
    padding: 50px; }
  .footer .col {
    color: cornsilk; }
  .footer #lista {
    list-style: none; }
  .footer #listak {
    text-decoration: none;
    color: cornsilk; }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

.quiensoy .grilla {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: "header header header header header header" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "principal principal principal principal principal principal" "footer footer footer footer footer footer"; }

.quiensoy .header {
  grid-area: header;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; }
  .quiensoy .header h1 {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: flex;
    list-style: none;
    font-style: italic; }
  .quiensoy .header nav {
    display: flex;
    list-style: none; }
  .quiensoy .header a {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    padding: 5px; }

.quiensoy .principal {
  grid-area: principal;
  background-image: url(../Recursos/BNP_8147.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .quiensoy .principal h2 {
    font-style: normal;
    font-weight: 500;
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; }
  .quiensoy .principal p {
    font-style: normal;
    font-weight: 200;
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px; }

.quiensoy .principal__caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative; }

.quiensoy .principal__caja__fondo {
  background-image: url(../Redes/Quien_Soy.svg);
  border-width: 0.5px;
  border: solid;
  border-color: cornsilk;
  margin: 10px;
  padding: 20px;
  position: absolute;
  height: 400px;
  text-align: center;
  width: 600px;
  transform: translate(50%, 30%); }

.quiensoy .footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px; }
  .quiensoy .footer section {
    display: flex;
    list-style: none; }
  .quiensoy .footer h3 {
    display: flex;
    list-style: none; }
  .quiensoy .footer a {
    margin-left: 10px; }

.quiensoy .footer__pieDePagina {
  color: cornsilk;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: normal; }

@media screen and (max-width: 801px) {
  .quiensoy .header h1 {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 18px; }
  .quiensoy .header a {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 13px; }
  .quiensoy .footer__pieDePagina {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: normal; } }

@media screen and (max-width: 553px) {
  .quiensoy * {
    padding: 0;
    margin: 0; }
  .quiensoy html {
    height: 100%; }
  .quiensoy .header h1 {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 14px; }
  .quiensoy .header a {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 10px; }
  .quiensoy .principal__caja__fondo {
    background-image: url(../Redes/Quien_Soy.svg);
    border-width: 0.5px;
    border: solid;
    border-color: cornsilk;
    margin: 10px;
    padding: 20px;
    position: absolute;
    top: 15%;
    left: 40px;
    height: 400px;
    text-align: center;
    width: 400px; }
  .quiensoy .footer__pieDePagina {
    color: cornsilk;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: normal; } }

@media screen and (max-width: 1130px) {
  * {
    padding: 0;
    margin: 0; }
  html {
    height: 100%; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 24px; }
  #principal-carousel-logo {
    display: none; }
  #body-header {
    display: none; }
  .navbar-responsive {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: contents; }
    .navbar-responsive a {
      margin-left: 10px;
      font-style: normal;
      text-decoration: none;
      padding: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: cornsilk; }
    .navbar-responsive #navbar-responsive-color {
      background-color: black !important; }
    .navbar-responsive #navbar-responsive-collapse {
      background-color: black !important; }
  #portfolio-principal-carousel {
    display: flex !important;
    padding-bottom: 0px !important; }
    #portfolio-principal-carousel #principal-carousel-titulos h2 {
      font-size: 24px; }
    #portfolio-principal-carousel #principal-carousel-titulos h3 {
      font-size: 18px; }
  #grilla {
    position: relative;
    background: none;
    filter: none;
    display: block;
    align-items: center; }
    #grilla #columnas-centradas {
      padding-top: 40px;
      display: flex !important;
      justify-content: center; }
      #grilla #columnas-centradas #columna-centrada {
        filter: none;
        padding-top: 40px;
        padding-bottom: 40px;
        padding: 50px;
        display: contents;
        justify-content: center; }
  #footer-responsive {
    display: inline-grid; }
    #footer-responsive #footer-responsive-none {
      display: none; } }

@media screen and (max-width: 710px) {
  #portfolio-principal-carousel {
    display: flex !important;
    padding-bottom: 0px !important;
    justify-content: center; }
    #portfolio-principal-carousel #principal-carousel-titulos h2 {
      display: flex;
      justify-content: center;
      font-size: 24px; }
    #portfolio-principal-carousel #principal-carousel-titulos h3 {
      display: none; }
  #grilla {
    position: relative;
    background: none;
    filter: none;
    display: block;
    align-items: center; }
    #grilla #columnas-centradas {
      padding-top: 40px;
      display: flex !important;
      justify-content: center; }
      #grilla #columnas-centradas #columna-centrada {
        filter: none;
        padding-top: 40px;
        padding-bottom: 40px;
        padding: 50px;
        display: contents;
        justify-content: center; }
        #grilla #columnas-centradas #columna-centrada img {
          height: 50%;
          width: 50%; } }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  z-index: 10;
  width: 100%; }
  .header h1 {
    display: flex;
    list-style: none;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: cornsilk; }
  .header nav {
    display: flex;
    list-style: none; }
  .header a {
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: cornsilk; }

.principal-portfolio {
  position: relative;
  background: linear-gradient(to bottom, #171313, black); }

.portfolio-imagen {
  position: relative;
  display: inline-block; }

.portfolio-imagen-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  filter: brightness(50%); }

#portfolio-principal-carousel {
  padding-bottom: 50px; }

#principal-carousel-titulos {
  color: cornsilk;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  #principal-carousel-titulos h2 {
    font-size: 38px; }
  #principal-carousel-titulos h3 {
    font-size: 30px; }

#grilla {
  position: relative;
  background: none;
  filter: none;
  display: block;
  align-items: center; }

#columnas-centradas {
  padding-top: 40px; }
  #columnas-centradas img:hover {
    transform: scale(1.1); }

#columna-centrada {
  filter: none;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center; }

.footer {
  background-color: black; }
  .footer .container {
    background-color: black;
    padding: 50px; }
  .footer .col {
    color: cornsilk; }
  .footer #lista {
    list-style: none; }
  .footer #listak {
    text-decoration: none;
    color: cornsilk; }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  z-index: 10;
  width: 100%; }
  .header h1 {
    display: flex;
    list-style: none;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: cornsilk; }
  .header nav {
    display: flex;
    list-style: none; }
  .header a {
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: cornsilk; }

.principal-preg {
  position: relative;
  background-color: #171313; }

.curacion-imagen {
  position: relative;
  display: inline-block; }

.curacion-imagen-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  filter: brightness(50%); }

#curacion-principal-carousel {
  padding-bottom: 170px; }

#curacion-carousel-titulos {
  color: cornsilk;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  #curacion-carousel-titulos h2 {
    font-size: 38px; }

.preg-imagen {
  position: relative;
  display: inline-block; }

.preg-imagen-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  filter: brightness(50%); }

#preg-principal-carousel {
  padding-bottom: 170px; }

#preg-carousel-titulos {
  color: cornsilk;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 38px; }

#acordion {
  padding: 70px;
  background-color: #171313;
  border: none; }

#fondo-boton {
  background-color: black;
  border: cornsilk; }

.boton-titulo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: cornsilk; }
  .boton-titulo h3 {
    font-size: 24px; }

.boton-porDentro {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: cornsilk; }
  .boton-porDentro h5 {
    font-size: 20px; }
  .boton-porDentro li {
    font-size: 18px; }
  .boton-porDentro p {
    font-size: 18px; }

.footer {
  background-color: black; }
  .footer .container {
    background-color: black;
    padding: 50px; }
  .footer .col {
    color: cornsilk; }
  .footer #lista {
    list-style: none; }
  .footer #listak {
    text-decoration: none;
    color: cornsilk; }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  z-index: 10;
  width: 100%; }
  .header h1 {
    display: flex;
    list-style: none;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: cornsilk; }
  .header nav {
    display: flex;
    list-style: none; }
  .header a {
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: cornsilk; }

.principal-contacto {
  position: relative;
  background: linear-gradient(to bottom, #171313, black); }
  .principal-contacto .contacto-imagen {
    position: relative;
    display: inline-block; }
    .principal-contacto .contacto-imagen .contacto-imagen-img {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      filter: brightness(50%); }
    .principal-contacto .contacto-imagen #contacto-principal-carousel {
      padding-bottom: 170px; }
    .principal-contacto .contacto-imagen #contacto-carousel-titulos {
      color: cornsilk;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
      .principal-contacto .contacto-imagen #contacto-carousel-titulos h2 {
        font-size: 38px; }
  .principal-contacto .principal-formulario {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 100px; }
    .principal-contacto .principal-formulario .principal-formulario-titulo {
      display: flex;
      justify-content: center;
      padding: 40px;
      color: cornsilk;
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal-contacto .principal-formulario #principal-formulario-titlabel {
      display: flex;
      justify-content: center;
      padding: 10px;
      color: cornsilk;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 24px; }
  .principal-contacto .principal-redes {
    display: flex;
    justify-content: center;
    padding: 100px; }
    .principal-contacto .principal-redes #principal-redes-grilla {
      background: none; }
      .principal-contacto .principal-redes #principal-redes-grilla h2 {
        display: flex;
        justify-content: center;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 30px; }
      .principal-contacto .principal-redes #principal-redes-grilla h3 {
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 24px; }
      .principal-contacto .principal-redes #principal-redes-grilla .grilla-contenido {
        display: flex;
        justify-content: center; }
      .principal-contacto .principal-redes #principal-redes-grilla .grilla-contenido-logos {
        display: flex;
        justify-content: center; }
        .principal-contacto .principal-redes #principal-redes-grilla .grilla-contenido-logos a {
          padding: 20px; }
  .principal-contacto .map-responsive {
    display: flex;
    justify-content: center;
    padding: 100px; }

.footer {
  background-color: black; }
  .footer .container {
    background-color: black;
    padding: 50px; }
  .footer .col {
    color: cornsilk; }
  .footer #lista {
    list-style: none; }
    .footer #lista #listak {
      text-decoration: none;
      color: cornsilk; }

@media screen and (max-width: 1130px) {
  * {
    padding: 0;
    margin: 0; }
  html {
    height: 100%; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 24px; }
  #principal-carousel-logo {
    display: none; }
  #body-header {
    display: none; }
  .navbar-responsive {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: contents; }
    .navbar-responsive a {
      margin-left: 10px;
      font-style: normal;
      text-decoration: none;
      padding: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: cornsilk; }
    .navbar-responsive #navbar-responsive-color {
      background-color: black !important; }
    .navbar-responsive #navbar-responsive-collapse {
      background-color: black !important; }
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 300px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 30px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; }
  #carta {
    margin-bottom: 0px; }
  #footer-responsive {
    display: inline-grid; }
    #footer-responsive #footer-responsive-none {
      display: none; } }

@media screen and (max-width: 895px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 250px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 24px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 650px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 150px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 24px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 18px; }
  p a {
    font-size: 10px; }
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 50px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; } }

@media screen and (max-width: 375px) {
  .principal {
    position: relative;
    display: flex; }
    .principal #principal-carousel {
      justify-content: center;
      bottom: 0px;
      display: flex !important; }
      .principal #principal-carousel h2 {
        font-size: 18px;
        color: cornsilk;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .principal #titulo-navbar {
      display: block; }
  #titulo-responsive {
    font-size: 18px; }
  #titulo-responsive-secundario {
    font-size: 14px; }
  #articulo-responsive {
    padding: 50px; } }

@media screen and (max-width: 1130px) {
  * {
    padding: 0;
    margin: 0; }
  html {
    height: 100%; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 24px; }
  #principal-carousel-logo {
    display: none; }
  #body-header {
    display: none; }
  .navbar-responsive {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: contents; }
    .navbar-responsive a {
      margin-left: 10px;
      font-style: normal;
      text-decoration: none;
      padding: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: cornsilk; }
    .navbar-responsive #navbar-responsive-color {
      background-color: black !important; }
    .navbar-responsive #navbar-responsive-collapse {
      background-color: black !important; }
  #portfolio-principal-carousel {
    display: flex !important;
    padding-bottom: 0px !important; }
    #portfolio-principal-carousel #principal-carousel-titulos h2 {
      font-size: 24px; }
    #portfolio-principal-carousel #principal-carousel-titulos h3 {
      font-size: 18px; }
  #grilla {
    position: relative;
    background: none;
    filter: none;
    display: block;
    align-items: center; }
    #grilla #columnas-centradas {
      padding-top: 40px;
      display: flex !important;
      justify-content: center; }
      #grilla #columnas-centradas #columna-centrada {
        filter: none;
        padding-top: 40px;
        padding-bottom: 40px;
        padding: 50px;
        display: contents;
        justify-content: center; }
  #footer-responsive {
    display: inline-grid; }
    #footer-responsive #footer-responsive-none {
      display: none; } }

@media screen and (max-width: 710px) {
  #portfolio-principal-carousel {
    display: flex !important;
    padding-bottom: 0px !important;
    justify-content: center; }
    #portfolio-principal-carousel #principal-carousel-titulos h2 {
      display: flex;
      justify-content: center;
      font-size: 24px; }
    #portfolio-principal-carousel #principal-carousel-titulos h3 {
      display: none; }
  #grilla {
    position: relative;
    background: none;
    filter: none;
    display: block;
    align-items: center; }
    #grilla #columnas-centradas {
      padding-top: 40px;
      display: flex !important;
      justify-content: center; }
      #grilla #columnas-centradas #columna-centrada {
        filter: none;
        padding-top: 40px;
        padding-bottom: 40px;
        padding: 50px;
        display: contents;
        justify-content: center; }
        #grilla #columnas-centradas #columna-centrada img {
          height: 50%;
          width: 50%; } }
