@import '_fuentes.scss';
@import '_colores.scss';
@import '_media-index.scss';

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


.header {
    background-color: $color-navbar-footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    z-index: 10;
    width: 100%;

    h1 {
        display: flex;
        list-style: none;
        font-style: italic;
        font-family: $fuente;
        color: $color-fuente;
    }

    nav {
        display: flex;
        list-style: none;
    }

    a {
        margin-left: 10px;
        font-style: normal;
        text-decoration: none;
        padding: 5px;
        font-family: $fuente;
        font-size: $titulo-navbar;
        color: $color-fuente;
    }

    .navbar-responsive {
        display: none;
    }

}

main {
    position: relative;

    .imagenes {
        width: 100%;
        height: 100%;
        filter: brightness(50%);
    }

    #titulos {
        color: $color-fuente;
        font-size: $titulos-principales;
        font-family: $fuente;
    }

    #titulo-navbar {
        display: none;
    }

    #principal-carousel {
        bottom: 350px;
    }
}

.sidebar {
    background-color: $color-fondo;
    position: relative;

    #carouselExampleDark {
        position: relative;
        display: table;
    }

    .articuloTitulos {
        position: relative;
        display: block;
        text-align: center;
        padding: 100px;
        color: $color-fuente;
        font-family: $fuente;
    }    

    h2 {
        font-size: $titulos-principales;
    }

    h3 {
        font-size: $titulos-secundarios;
    }
}

.miniPortfolio {
    position: relative;

    .card-group {
        position: relative;
        }

    .misTrabajos {
        position: relative;
        display: block;
        text-align: center;
        padding: 100px;
        color: $color-fuente;
        background-color: $color-fondo;
        margin: 0px;
        font-family: $fuente;
        font-size: $titulos-principales;
        }

    .card {
        padding: 30px;
        text-align: center;
        }   

    #carta {
        background-color: $color-fondo;
        border: none;
        border-radius: 0px;
    }

    .card-title {
        color: $color-fuente;
        font-size: $titulos-terceros;
        font-family: $fuente;
    }

    .boton {
        position: relative;
        background-color: $color-fondo;
        justify-content: center;
        display: flex;
        padding-bottom: 40px;
    
        #botonid {
        padding: 15px;
        font-family: $fuente;
        background-color: none;
        border-color: $color-fuente;

            a {
                text-decoration: none;
                color: $color-fuente;
            }
        }
    }
} 
    
.footer {
        background-color: $color-navbar-footer;
    
    .container {
        background-color: $color-navbar-footer;
        padding: 50px;
    }

    .col {
        color: $color-fuente;
    }

    #lista {
        list-style: none;
    }
        #listak {
            text-decoration: none;
            color: cornsilk;
        }
}